*{
    box-sizing: border-box;
}
body {
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Karla';
    font-weight: 700;
}
p, input{
    font-family: 'Karla';
    font-weight: 400;
}

/* Chat layout */
#chat-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* Section showing participants in chat */
#contact-section{
    width: 35%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.158);
}
/* Section showing main chat area */
#chat-section{
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 65%;
}

/* Send message form */
#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    right: 0; 
    display: flex; 
    height: 3.5rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
    width: 65%;
    max-width: 65%;
    z-index: 2000;

    height: 4rem;
}

/* Show emoji div */
.show-emoji{
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease;
}
.show-emoji-icon{
    width: 2rem;

    &:hover{
        cursor: pointer;
    }
}
.show-emoji-wide{
    width: 8rem;
    transition: all 0.75s ease;
}

/* Send message text field */
#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}
#input:focus { 
    outline: none; 
}
/* Send message button */
#form > button { 
    background: rgb(68, 68, 68); 
    border: none; 
    padding: 0.25 1.25rem; 
    margin: 0.25rem; 
    border-radius: 0.25rem; 
    outline: none; 
    color: #fff; 
    min-width: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Emoji picker */
#emoji-wrapper{
    position: fixed; 
    bottom: 0; 
    right: 0; 
    //display: flex; 
    //height: 3.5rem; 
    box-sizing: border-box; 
    //backdrop-filter: blur(10px); 
    width: 65%;
    max-width: 65%;
    z-index: 1999;
    transform: translateY(100%);
    transition: all 0.75s ease;
}
emoji-picker {
    width: 100%;
    //height: 100%;
}
.show-picker{
    transform: translateY(-4rem) !important;
    transition: all 0.75s ease;
}

/* Messages section */
#messages { 
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: flex-end;
    padding: 1rem;
    margin-top: 0;
    width: 100%;
    background: none;
    z-index: 999;

    transform: translateY(0%);
    transition: all 0.75s ease;
}
/* Background with image */
#messages-bg{
    position: fixed;
    top: 0;
    left: 0;
    //background-image: url("img/p1.jpg");
    background-image: url("img/Space_Patterns_2.png");
    background-size: 50%;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
/* Transparent overlay */
#msg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.651);
    height: 100%;
    width: 100%;
    pointer-events: none;
}

/* Specific message styles */
.sent-message{
    //background: linear-gradient(to right, #d994fc, #ffe390);
    background: linear-gradient(to right, #d994fce0, #ffe390dc);
    align-self: flex-end;
    justify-self: flex-end;
}
.received-message{
    background-color: rgba(255, 255, 255, 0.863);   
    align-self: flex-start;
    justify-self: flex-start;
}
.join-message{
    background: rgba(255, 255, 255, 0.849);
    border: 1.5px solid #d994fc;
    align-self: flex-start;
    justify-self: flex-end;
}
.join-message-self{
    background: rgba(255, 255, 255, 0.829);
    border: 1.5px solid #d994fc;//rgb(171, 255, 171);
    align-self: flex-end;
    justify-self: flex-end;   
}

/* Message parts */
.msg-text{
    margin: 0;
    padding: 0;
    color: #1f1f1f;
    margin-bottom: 0.1rem;
}
.msg-author{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    color: #24252b;
    margin-bottom: 0.1rem;
}
.msg-time{
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
    margin-top: 0.2rem;
    color: rgb(77, 77, 77);
    justify-self: flex-end;
    align-self: flex-end;
}

/* General message class */
.message{ 
    padding: 0.5rem 1.5rem;
    max-width: 60%;
    min-width: 9rem;
    list-style-type: none;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.151);
    margin: 0.25rem 0rem;
    display: flex;
    flex-direction: column;
}

/* Sign up form */
.choose-username{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 5000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin: 0;
        padding: 0.4rem;
    }
}
#userForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    *{
        margin: 0.5rem;
    }
}
#userInput{
    padding: 0.25rem;
    font-size: 1.2rem;
    border: 2px solid rgba(0, 0, 0, 0.322);
    border-radius: 0.2rem;
}

/* User display */
.user-div{
    width: 100%;
    padding: 0.5rem;
    background-color:rgb(255, 255, 255);
    text-align: center;
    color: rgb(20, 3, 20);
    //border: 0.5px solid #ffe390;
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 1px dotted #ffe390;
}

/* Re-useable components */
.title{
    padding: 0.2rem;
}
.title-bg{
    margin: 0;
    padding: 1.5rem;
    background-color: rgb(245, 245, 245); 
}
.gradient-border{
    background: linear-gradient(to right, #d994fc, #ffe390);
    height: 2px;
    min-height: 2px;
    width: 20%;
    margin-bottom: 2rem;
}


/* Utility */
.text-center{
    text-align: center;
}
.hide{
    display: none;
}